<article class="p-4">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <header
      class="mb-4 flex flex-col justify-between gap-2 border-b pb-4 lg:flex-row lg:items-center"
    >
      <div class="flex items-center gap-2">
        <mat-icon
          aria-hidden="false"
          aria-label="Create user"
          fontIcon="add"
          class="text-blue-800"
        ></mat-icon>
        <p class="font-satoshiBold text-2xl">
          {{ editUser ? EDIT_USER : CREATE_USER }}
        </p>
      </div>
      <div class="flex items-center gap-2">
        <button
          (click)="closeDialog()"
          class="font-satoshiBold w-full rounded-lg border px-10 py-2 lg:w-auto"
        >
          {{ CANCEL }}
        </button>
        <button
          [disabled]="userForm.invalid"
          type="submit"
          class="font-satoshiBold w-full rounded-lg bg-blue-800 px-10 py-2 text-white disabled:cursor-not-allowed disabled:bg-gray-400 lg:w-auto"
        >
          {{ editUser ? EDIT : CREATE }}
        </button>
      </div>
    </header>

    <main>
      <mat-form-field *ngIf="editUser" class="mb-4 w-full">
        <mat-label class="font-satoshiMedium text-general-2">{{
          ID
        }}</mat-label>
        <input
          matInput
          formControlName="id"
          [placeholder]="ID_PLACEHOLDER"
          class="font-satoshi text-general-1 w-full rounded-lg border p-4 pl-0"
        />
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label class="font-satoshiMedium text-general-2">{{
          NAME
        }}</mat-label>
        <input
          matInput
          formControlName="name"
          [placeholder]="NAME_PLACEHOLDER"
          class="font-satoshi text-general-1 w-full rounded-lg border p-4 pl-0"
        />
      </mat-form-field>
      <mat-error
        *ngIf="
          getUserFormControl('name').hasError('required') &&
          getUserFormControl('name').touched
        "
      >
        {{ NAME_ERROR }}
      </mat-error>

      <mat-form-field class="mt-4 w-full">
        <mat-label class="font-satoshiMedium text-general-2">{{
          LAST_NAME
        }}</mat-label>
        <input
          matInput
          formControlName="lastName"
          [placeholder]="LAST_NAME_PLACEHOLDER"
          class="font-satoshi text-general-1 w-full rounded-lg border p-4 pl-0"
        />
      </mat-form-field>
      <mat-error
        *ngIf="
          getUserFormControl('lastName').hasError('required') &&
          getUserFormControl('lastName').touched
        "
      >
        {{ LAST_NAME_ERROR }}
      </mat-error>
      <mat-form-field class="mt-4 w-full">
        <mat-label class="font-satoshiMedium text-general-2">{{
          POINTS
        }}</mat-label>
        <input
          type="number"
          matInput
          formControlName="points"
          [placeholder]="POINTS_PLACEHOLDER"
          class="font-satoshi text-general-1 w-full rounded-lg border p-4 pl-0"
        />
      </mat-form-field>

      <div *ngIf="editUser" class="mt-4 flex items-center justify-between">
        <mat-label class="font-satoshiBold text-general-1 text-2xl">{{
          userForm.get("active")?.value ? DEACTIVE : ACTIVE
        }}</mat-label>

        <mat-slide-toggle
          formControlName="active"
          [color]="'primary'"
        ></mat-slide-toggle>
      </div>
    </main>
  </form>
</article>
