<footer class="bg-white p-4 shadow">
  <nav>
    <ul class="flex justify-around">
      <li>
        <a
          href="https://github.com/cvillar6/leal"
          target="_blank"
          class="flex gap-2 items-center"
        >
          <img
            src="../../../../../assets/icons/repository.svg"
            alt="Repositorio"
            loading="lazy"
            class="w-5 h-5"
          />
          <span class="hidden lg:inline">{{ REPOSITORY }}</span>
        </a>
      </li>
      <li>
        <a
          href="https://github.com/cvillar6/leal-components"
          target="_blank"
          class="flex gap-2 items-center"
        >
          <img
            src="../../../../../assets/icons/repository.svg"
            alt="Repositorio"
            loading="lazy"
            class="w-5 h-5"
          />
          <span class="hidden lg:inline">{{ STENCIL_REPOSITORY }}</span>
        </a>
      </li>
      <li>
        <a
          href="https://www.npmjs.com/package/leal-components"
          target="_blank"
          class="flex gap-2 items-center"
        >
          <img
            src="../../../../../assets/icons/npm.svg"
            alt="Repositorio"
            loading="lazy"
            class="w-5 h-5"
          />
          <span class="hidden lg:inline">{{ NPM_LIBRARY }}</span>
        </a>
      </li>
      <li>
        <a
          href="https://github.com/cvillar6/leal/blob/master/README.md"
          target="_blank"
          class="flex gap-2 items-center"
        >
          <img
            src="../../../../../assets/icons/readme.svg"
            alt="Repositorio"
            loading="lazy"
            class="w-5 h-5"
          />
          <span class="hidden lg:inline">{{ README }}</span>
        </a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/cvillar4/"
          target="_blank"
          class="flex gap-2 items-center"
        >
          <img
            src="../../../../../assets/icons/linkedin.svg"
            alt="Repositorio"
            loading="lazy"
            class="w-5 h-5"
          />
          <span class="hidden lg:inline">{{ LINKEDIN }}</span>
        </a>
      </li>
      <li>
        <a
          href="https://wa.me/573216099769"
          target="_blank"
          class="flex gap-2 items-center"
        >
          <img
            src="../../../../../assets/icons/whatsapp.svg"
            alt="Repositorio"
            loading="lazy"
            class="w-5 h-5"
          />
          <span class="hidden lg:inline">{{ WHATSAPP }}</span>
        </a>
      </li>
    </ul>
  </nav>
</footer>
