<article class="flex min-w-40 items-center gap-2">
  <div class="flex items-center justify-center rounded-full bg-blue-300 p-4">
    <mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="group"
      class="text-blue-800"
    ></mat-icon>
  </div>
  <div class="flex flex-col">
    <p class="text-general-2 font-satoshiMedium m-0 text-base">
      Total de usuarios
    </p>
    <p class="text-general-1 font-satoshiBold m-0 text-2xl">5000</p>
    <p class="text-general-1 m-0 text-sm">20%</p>
  </div>
</article>
