<article>
  <mat-accordion *ngIf="users; else loading" multi>
    <mat-expansion-panel
      *ngFor="let user of users"
      hideToggle
      expanded
      class="mb-2.5 rounded-lg"
    >
      <mat-expansion-panel-header class="flex h-auto justify-between p-4">
        <mat-panel-title class="font-satoshiBold text-general-1 m-0 text-base">
          <div class="flex items-center gap-2">
            <div class="rounded bg-blue-300 p-2">
              {{ user.name.charAt(0).toUpperCase()
              }}{{ user.lastName.charAt(0).toUpperCase() }}
            </div>
            <p>{{ user.name }}</p>
          </div>
        </mat-panel-title>
        <mat-panel-description
          class="m-0 flex w-full flex-grow-0 justify-between"
        >
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="account_circle"
          ></mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <section class="mb-4 pt-2.5">
        <div class="mb-2.5 flex justify-between border-b pb-2.5">
          <p class="font-satoshiMedium text-general-2">{{ ID }}</p>
          <p class="text-general-1 font-satoshiMedium">{{ user.id }}</p>
        </div>

        <div class="mb-2.5 flex justify-between border-b pb-2.5">
          <p class="font-satoshiMedium text-general-2">{{ NAME }}</p>
          <p class="text-general-1 font-satoshiMedium">{{ user.name }}</p>
        </div>

        <div class="mb-2.5 flex justify-between border-b pb-2.5">
          <p class="font-satoshiMedium text-general-2">{{ LAST_NAME }}</p>
          <p class="text-general-1 font-satoshiMedium">{{ user.lastName }}</p>
        </div>

        <div class="flex justify-between">
          <p class="font-satoshiMedium text-general-2">{{ POINTS }}</p>
          <p class="text-general-1 font-satoshiMedium">
            {{ user.points | number }}
          </p>
        </div>
      </section>

      <section class="flex gap-2 pt-2.5">
        <button
          class="font-satoshiBold flex w-full items-center justify-center gap-2 rounded border border-blue-500 p-3 hover:bg-blue-500 hover:text-white"
        >
          <mat-icon
            aria-hidden="false"
            aria-label="Editar"
            fontIcon="edit"
          ></mat-icon>
          {{ EDIT }}
        </button>
        <button
          (click)="deleteUser(user.id)"
          class="font-satoshiBold flex w-full items-center justify-center gap-2 rounded border border-red-500 p-3 hover:bg-red-500 hover:text-white"
        >
          <mat-icon
            aria-hidden="false"
            aria-label="Eliminar"
            fontIcon="delete"
          ></mat-icon>
          {{ REMOVE }}
        </button>
      </section>
    </mat-expansion-panel>
  </mat-accordion>

  <ng-template #loading>
    <div>Cargando</div>
  </ng-template>
</article>
